<!-- Form for adding/editing resources -->
<div class="add_resource">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4>{{action}} resurs</h4>
  </div>
  <div class="modal-body">
    <form role="form">
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="fileUpload">Ladda upp</label>
          <input type="file" id="fileUpload" onchange="angular.element(this).scope().fileUploadChange(this)" />
          <div>{{progress}}</div>
          <div ng-switch on="resource.type">
            <div ng-switch-when="image">
                  <img ng-src="{{apiBase}}image/220x220/{{resource.source.id}}.{{resource.source.extension}}"/>
            </div>
            <div ng-switch-when="sound">    
              <button class="btn btn-default btn-sm" ng-click="toggleSound(resource)">
                <span class="glyphicon glyphicon-{{playMsg}}"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Namn</label>
          <input ng-model="resource.name" type="text" class="form-control" id="name" placeholder="Resursens namn">
        </div>
        <div class="form-group">
          <label>Typ</label>
          <p class="sp_output">{{resource.type}}</p>
        </div>
        <div class="form-group">
          <label for="description">Beskrivning</label>
          <input ng-model="resource.description" type="text" class="form-control" id="description" placeholder="Beskrivning eller kommentar">
        </div>
        <div class="form-group">
          <label for="tags">Taggar</label>
          <input ng-model="resource.tags" type="text" class="form-control" id="tags" placeholder="Till exempel: barn, lågmält, fnissigt">
        </div>
        <div class="form-group">
          <label for="restrict">Dela med</label>
          <select ng-model="formChoice.restrict" ng-options="option for option in restrictOptions"></select>
        </div>
      </fieldset>
      <!--
      <fieldset ng-switch on="resource.type">
          <legend>Inställningar</legend>
          <div class="form-group">
            <label class="control-label" for="label">Etikett</label>
            <input ng-model="resource.label" type="text" id="label" placeholder="Etikett">
          </div>
          <div class="form-group" ng-switch-when="sound">
            <label class="control-label" for="loop">Loop</label>
            <input ng-model="resource.loop" type="checkbox" id="loop">
          </div>
      </fieldset>
      -->

    </form>
  </div> <!-- // modal-body -->
  <div class="modal-footer">
    <button ng-show="isEditing" class="btn btn-link pull-left" ng-click="deleteResource()"><span class="glyphicon glyphicon-trash"></span> Ta bort</button>
    <button class="btn btn-default btn-success" ng-click="createResource()" ng-disabled="resource.type==null">Spara</button>
  </div>
</div>
